@charset "UTF-8";

:root{
    --verd: #49a09d;
    --lila: #5f2c82;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--lila);
    height: 100vh;
    width: 100vw;
}


main{
    height: 100vh;
    width: 100vw;
}

#log{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

section#log > div#img{
    background: url(../img/pexels-shantanu-chand-499432810-34074202.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
}

section#log > div#form{
    padding: 10px;
    display: block;
}
div#form > h1{
    margin-bottom: 10px;
}

div#form > p{
    
}