@charset "UTF-8";

:root{
    --verd: #49a09d;
    --lila: #5f2c82;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--lila);
    height: 100vh;
    width: 100vw;
}


main{
    height: 100vh;
    width: 100vw;
}

#log{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

form > div.campo{
    background-color: var(--lila);
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
div.campo > label{
    display: none;
}


section#log > div#img{
    background: url(../img/pexels-shantanu-chand-499432810-34074202.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
}

section#log > div#form{
    padding: 10px;
    display: block;
}
div#form > h1{
    margin-bottom: 10px;
}

div#form > p{

}

form > input[type=submit]{
    font-size: 1em;
    display: block;
    width: 100%;
    height: 30px;
    background-color: var(--verd);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;

}

form > input[type=submit]:hover{
    font-weight: bold;
    background-color: black;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    height: 30px;
    width: 100%;
    background-color: rgb(31, 61, 50);
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding-top: 5px;
}

form > a.botao:hover{
    font-weight: bold;
    background-color: black;
}