@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: silver;
}

#img{
    background: url(https://4kwallpapers.com/images/walls/thumbs_3t/10695.png);
    height: 157px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
    border-radius: 20px;
}

#cont{
    position: relative;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 250px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.507);
    margin: auto;
}


#form{
    padding: 15px;
}