@charset "UTF-8";

@media  screen and (min-width: 992px) and (max-width: 1199px){

body{
    background-image: linear-gradient(to bottom, grey black);
}

main{
    width: 90%;
}

#img{
    float: left;
    height: 100px;
    background-size: contain;
}

#form{
    float: right;

}

}

@media  screen and (min-width: 1200px) {
  
}
